@font-face {
    font-family: 'Nanum Barun Gothic YetHangul';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic-YetHangul/main/NanumBarunGothic-YetHangul.otf') format('opentype'),
         url('https://cdn.statically.io/gh/fonts-archive/NanumBarunGothic-YetHangul/main/NanumBarunGothic-YetHangul.ttf') format('truetype');
}
